<div class="container">
  <h1>{{ title }}</h1>
  <div class="simon">
    <div #green class="pad green" 
      (mouseover)="handleMouseOver('green')" 
      (mouseleave)="handleMouseLeave('green')"
      (mousedown)="handleMouseDown('green')"
      (mouseup)="handleMouseUp('green')"
      (click)="handleClick('green')"
    ></div>
    <div #red class="pad red" 
      (mouseover)="handleMouseOver('red')" 
      (mouseleave)="handleMouseLeave('red')"
      (mousedown)="handleMouseDown('red')"
      (mouseup)="handleMouseUp('red')"
      (click)="handleClick('red')"
    ></div>
    <div #yellow class="pad yellow" 
      (mouseover)="handleMouseOver('yellow')" 
      (mouseleave)="handleMouseLeave('yellow')"
      (mousedown)="handleMouseDown('yellow')"
      (mouseup)="handleMouseUp('yellow')"
      (click)="handleClick('yellow')"
    ></div>  
    <div #blue class="pad blue" 
      (mouseover)="handleMouseOver('blue')" 
      (mouseleave)="handleMouseLeave('blue')"
      (mousedown)="handleMouseDown('blue')"
      (mouseup)="handleMouseUp('blue')"
      (click)="handleClick('blue')"
    ></div>
    <div class="display" id="display"></div>
  </div>

  <h4>&nbsp;{{ message }}</h4>
  <footer>
    <button [disabled]="game === 'start'" (click)="startGame()">Start</button>
    <div>Level: {{ level }}</div>
    <div>Record: {{ record }}</div>
  </footer>
</div>​
